body {
	min-width: 600px;
}

.letter-header {
	background-color: $primary-color;
	height: 86px;

	&__img {
		margin-top: 11px;
	}
}

.top-img {
	height: 180px;
	background-image: url('https://erni-sh.github.io/E-mail_pug/dist/assets/img/top-img.jpg');
	background-size: cover;
  background-position: right;

	&__title {
		color: $primary-color;
		font-weight: 600;
		margin-bottom: 0;
	}
}

.text {
	&__secondary {
		font-family: $secondary-font-family;
		font-size: 1.25em;
		line-height: 1.25;
	}

	&__small {
		font-size: 8px;
		margin-bottom: 0;
	}
	&__italic {
		font-style: italic;
	}
	// &__bold {
	// 	font-weight: 600;
	// }
	&__sup {
		font-size: .6em;
	}
}

.pylori {
	border: solid 1px $primary-color;
	margin: 32px 0 10px;

	&__img {
		margin: 10px 0 0 !important;
	}

	&__text {
		font-size: 1.25em;
		font-weight: 600;
		margin: 10px 0 0;

		&__primary {
			color: $primary-color;
		}

		&__italic {
			font-style: italic;
		}
	}
}

.recommendations {
	margin-bottom: 13px;
}

.treatment {
	background: linear-gradient(-45deg, #fff 16%, #eee 0, #eee 33%, #fff 0, #fff 66%, #eee 0, #eee 83%, #fff 0) !important;
	background-size: 5px 5px !important;

	&__wrapper {
		position: relative;
		margin-top: 22px;
		padding: 12px 1px 0;
		background-color: white;
		border: solid 1px #FFC72C;
		min-height: 91px;

		&_has-plus {
			&:after {
				position: absolute;
				content: url('https://erni-sh.github.io/E-mail_pug/dist/assets/img/plus.png');
				right: -22px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&__text {
		font-family: $secondary-font-family;
		line-height: 1.2;
		text-align: center;

		&_top {
			margin-top: 10px;
		}
	}

	&__arrow {
		position: relative;
		border: solid 1px #FFC72C;
		background-color: #fff;
		margin: 5px 31px 9px 0;
		&__text {
			font-size: 1.22em;
			margin: 4px 0;
		}

		&:after {
			position: absolute;
			content: url('https://erni-sh.github.io/E-mail_pug/dist/assets/img/arrow-yellow.png');
			right: -31px;
    	top: -8px;
		}
	}
}

.course {
	&__text {
		position: relative;
		margin-left: 20px;
		font-family: $secondary-font-family;
		font-size: 1.2em;
		letter-spacing: .03em;

		&:before {
			content: '';
			position: absolute;
			left: -20px;
			top: 3px;
			width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-left: 14px solid $primary-color;
		}
	}
}

.banner {
	height: 181px;
	background-color: $primary-color;

	&__text {
		font-family: $secondary-font-family;
		color: white;
		font-size: 1.25em;
		line-height: 1.2;
	}
}

.complaints {
	border-top: 1px solid $secondary-color;

	&__text {
		margin-top: 20px;
	}
}

.reasons {
	&__title {
		color: $primary-color;
		font-family: $secondary-font-family;
	}

	&__text {
		color: $primary-color;
		text-align: center;
		font-size: 1.2em;
		font-family: $third-font-family;
	}

	&__arrow {
		&:after {
			display: block;
			content: url('/assets/img/arrow-green-down.png');
			margin-top: 14px;
		}
	}

	&__simptoms {
		position: relative;
		&__img {
			position: absolute;
			display: inline-block;
		}

		.reasons__text {
			margin-left: 32px;
			text-align: left;
		}
	}
}

.restore {
	border: 1px solid $primary-color;
	min-height: 174px;

	&__img-wrapper {
		text-align: center;
	}

	&__img {
		display: inline-block;
		margin: 7px;
	}

	&__text {
		font-size: 1.2em;
		margin-bottom: 0;
		margin-left: 10px;
	}
}

.therapy {
	&__title-wrapper {
		border-top: 1px solid $secondary-color;
	}

	&__title {
		text-align: center;
		margin-top: 13px;
	}

	&__text {
		margin: auto;
		text-align: center;
		max-width: 163px;
	}

	&__green-wrapper {
		position: relative;
		min-height: 78px;
		background-color: $primary-color;
		border-radius: 7px;
	}

	&__green-text {
		display: inline-block;
		text-align: center;
		color: white;
		margin-bottom: 0;
		vertical-align: middle;
	}

	&__green-callout {
		position: absolute;
		text-align: center;
		border: 2px solid $secondary-color;
		border-radius: 5px;
		padding: 0px 3px;
		line-height: .9;
    top: -77px;
    right: -28px;
    
    &:after {
    	position: absolute;
    	content: '';
    	border-left: 2px solid $secondary-color;
    	height: 50px;
    	right: 17px;
    	top: 93%;
    	transform: rotate(37deg);
    }
	}

	&__text-bottom {
		margin-top: 10px;
		text-align: center;
	}
}

.sources {
	background-color: #ECECEC !important;

	&__title {
		font-size: 15px;
	}
}

.footer {
	&__hr {
		border-top: 1px solid gray;
	}

	&__logo {
		margin-top: 6px;
	}
}