mixin appCard(title, version, trumb, link)
	a(href= link).appCard
		table
			tr
				td
					img(
						src= trumb
						alt= title
						width=40
						height=40
					).appCard__img
				td(style='vertical-align: middle')
					.appCard__title !{title}