-
	var appsUpdates = [[{
		title: 'Concordia - Digital Edition',
		version: '1.3.1',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/e7/42/e7420c3d4794c67497d517a9c696086d.jpg',
		link: 'https://builds.io/apps/concordiaoriginalapp/',
	}, {
		title: 'The Tiny Bang Story',
		version: '3.5',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/fa/9e/fa9e15e2781643b04c14c9e7ed56dd8d.jpg',
		link: 'https://builds.io/apps/tinybangstory/',
	}, {
		title: 'Instagram Rocket',
		version: '271.1',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/9c/b6/9cb6e248a4cbb639bcee59adb0044b3c.jpg',
		link: 'https://builds.io/apps/rockettest/',
	}],[{
		title: 'WhatsApp Watusi',
		version: '23.2.75',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/c0/c7/c0c78871baeb7fc4818803af02fa3606.jpg',
		link: 'https://builds.io/apps/watusi/',
	}, {
		title: 'MovieBoxPro (NoAds)',
		version: '12.0',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/a0/c0/a0c0890f77f6b35c9fa8edf75da25f4e.jpg',
		link: 'https://builds.io/apps/movieboxpronoads/',
	}, {
		title: 'Procreate for iPad',
		version: '5.3.3',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/cc/f5/ccf58b0b65454b98ad3fbc7e1edc533a.jpg',
		link: 'https://builds.io/apps/procreateipad/',
	}], [{
		title: 'Harry Potter: Hogwarts Mystery Energy Hack',
		version: '4.8.1',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/3a/53/3a53ff58ebb4564fecdfca0d82206987.jpg',
		link: 'https://builds.io/apps/harrypotter/',
	}, {
		title: 'The Elder Scrolls: Blades Hack',
		version: '1.30',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/cb/f2/cbf2e6d782ec63616b799edf1481796b.jpg',
		link: 'https://builds.io/apps/elderscrolls/',
	}, {
		title: 'YouTube Music Premium',
		version: '5.45.1',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/47/dc/47dcd1b5929bbf69f0038cd0ebdd1fe4.jpg',
		link: 'https://builds.io/apps/youtubemusicpremium/',
	}], [{
		title: 'Jurassic World ++',
		version: '2.21.32',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/03/67/03675d9da3a4591d5818bd33e649ac30.jpg',
		link: 'https://builds.io/apps/jurassicworld/',
	}, {
		title: 'Need for Speed No Limits - Free Hack',
		version: '6.6.11',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/b8/1a/b81a95fbeaeb53b08447c7f25bdcc4a6.jpg',
		link: 'https://builds.io/apps/needspeednolimitsfh/',
	}, {
		title: 'Minecraft',
		version: '1.19.63',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/d1/d0/d1d0f7fba15a8e25e66d07cd3e3824b1.jpg',
		link: 'https://builds.io/apps/minecraft/',
	}]]