-
	var appsDataHalloween = [[{
		title: 'Last Island of Survival Hack',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/92/26/92261ce0f75d2ae5c903a983ca0135fc.jpg',
		link: 'https://builds.io/apps/28e83108-2c61-4195-bc33-e535c4e7b8e6/?utm_source=marketing&utm_medium=email&utm_campaign=halloween23',
	}, {
		title: 'The Walking Dead: Our World FREE...',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/c7/db/c7db098b1f1bfe2eddf372a8a4cd22ef.jpg',
		link: 'https://builds.io/apps/walkingdead/?utm_source=marketing&utm_medium=email&utm_campaign=halloween23',
	}, {
		title: 'Plants vs. Zombies 2 Hack',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/05/59/055984a6aa57ef06e983ee858f93ca86.jpg',
		link: 'https://builds.io/apps/plants2/?utm_source=marketing&utm_medium=email&utm_campaign=halloween23',
	}]]

-
	var appsData3ndNewsLetter = [[{
		title: 'Last Day on Earth: Survival Hack',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/99/df/99df7796b34e2ab31e24f2da9072b86b.jpg',
		link: 'https://builds.io/apps/lastday/?utm_source=marketing&utm_medium=email&utm_campaign=adventure_nov22',
	}, {
		title: 'Jurassic World Primal Ops Hack',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/47/0b/470bfed855d6786499c8f27cc56d0876.jpg',
		link: 'https://builds.io/apps/jurassicworldprimalops/?utm_source=marketing&utm_medium=email&utm_campaign=adventure_nov22',
	}, {
		title: 'Pokeland Legends',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/e9/2d/e92df65d628e97ea912caa7a7941142c.jpg',
		link: 'https://builds.io/apps/8961c62c-544f-4431-a591-b97535a81f1c/?utm_source=marketing&utm_medium=email&utm_campaign=adventure_nov22',
	}]]