-
	var mostPopularApp = {
		title: 'Hero Wars - Fantasy World Hack',
		version: '1.163.001',
		description: 'Welcome at long last, Brave Hero! Whether you’ve come to relive your favorite moments of online-RPG gaming or are just looking to slash your way through a few levels, Hero Wars has you covered. Come for the refined RPG gameplay, stay for the glory!',
		trumb: 'https://s3.amazonaws.com/cdn.builds.io/cache/af/f6/aff6119a943f64df8b6ad2227c2ebba8.jpg',
		link: 'https://builds.io/apps/d1f7a521-da2c-48f4-9b20-89f332563151/',
	}