.social
	a(href='#!' target="_blank")
		img(src="inline(../assets/social-reddit.svg)")
	a(href='#!' target="_blank")
		img(src="inline(../assets/social-fb.svg)")
	a(href='#!' target="_blank")
		img(src="inline(../assets/social-tw.svg)")