.social
	//- reddit
	a(href= socialLinkReddit target="_blank")
		img(src="https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/948be579-b233-c819-f543-76461d6abd2a.png" width=16 height=16)
	//- facebook
	a(href= socialLinkFB target="_blank")
		img(src="https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/cfb2f7fe-8dfa-2d99-ec3a-d6403435169d.png" width=16 height=16)
	//- twitter
	a(href= socialLinkTwitter target="_blank")
		img(src="https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/2dfd5737-5710-ceb6-54c1-2f3c3183f206.png" width=16 height=16)