.social
	a(href='#!' target="_blank")
		img(src="https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/13b84101-970d-c090-ec83-72c63fb76525.png" width=16 height=16)
	a(href='#!' target="_blank")
		img(src="https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/cfb2f7fe-8dfa-2d99-ec3a-d6403435169d.png" width=16 height=16)
	a(href='#!' target="_blank")
		img(src="https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/2dfd5737-5710-ceb6-54c1-2f3c3183f206.png" width=16 height=16)