extends ./layouts/default.pug

block title
	| Осень – сезон обострения гастритов

block description
	| 

block main
	container
		//- spacer(size='86').letter-header
		row.letter-header
			columns(small='3' valign="middle")
				img(src='https://erni-sh.github.io/E-mail_pug/dist/assets/img/logo.jpg').letter-header__img
			columns(small='9')
		row.top-img
			columns(large="7" small='8' valign="middle").primary
				h1.top-img__title Осень – сезон  обострения гастритов
			columns(large="5" small='4' valign="middle")
		
		row
			columns(small="12" valign="middle")
				row.pylori
					columns(small="4" valign="middle")
						center
							img(src='https://erni-sh.github.io/E-mail_pug/dist/assets/img/pylori.png').pylori__img
					columns(small="8" valign="middle")
						p.pylori__text.text__secondary В 
							span.pylori__text__primary 90%
							| случаев причина гастрита – инфекция 
							span.text__italic H. pylori
							sup.text__sup 1
		row.recommendations
			columns(small="12" valign="middle")
				p.text__secondary Согласно рекомендациям РГА «Лечение инфекции 
					span.text__italic Helicobacter pylori: мейнстрим и новации» 
					b 1-я линия стандартной тройной терапии 
					| (ИПП + 
					b кларитромицин 
					| + амоксициллин или метронидазол) 
					b считается наиболее изученной
					sup.text__sup 2