extends ./layouts/default.pug

block title
	| My Marketing Email Template Subject

block description
	| Description

block main
	container
		row
			columns(large='4')
				center
					img(src='http://placehold.it/125x200')
			columns(large='8')
				h1 Do Something Radical With This App.
				button.large(href='#') Sign Up
		spacer(size='16')
		row
			columns
				h3.text-center It's Never Been Easier to Do Things.
				p.text-center
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur pariatur unde magni repudiandae totam, accusamus facere eligendi. Ad nobis eius porro saepe et ab, aliquid, sed mollitia cumque suscipit aperiam.
		row
			columns(large='4')
				center
					img(src='http://placehold.it/50x50')
				h5.text-center Feature One
				p.text-center
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.
			columns(large='4')
				center
					img(src='http://placehold.it/50x50')
				h5.text-center Feature Two
				p.text-center
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.
			columns(large='4')
				center
					img(src='http://placehold.it/50x50')
				h5.text-center Feature Three
				p.text-center
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.
		spacer(size='16')
		row
			columns
				h3.text-center What Are You Waiting For? Get Started Today.
				spacer(size='16')
				button.large.expand(href='#') Sign Up
		row.collapsed.footer
			columns
				spacer(size='16')
				p.text-center
					| © copyright nobody
					br
					a(href='#') hello@nocopyright.com
					|  
					a(href='#') Manage Email Notifications
					|  
					a(href='#') Unsubscribe
				center
					menu
						item
							img(src='http://placehold.it/25' alt='')
						item
							img(src='http://placehold.it/25' alt='')
						item
							img(src='http://placehold.it/25' alt='')
						item
							img(src='http://placehold.it/25' alt='')
						item
							img(src='http://placehold.it/25' alt='')
		spacer(size='16')




