extends ./layouts/default.pug

block title
	|
block description
	| 

block main

	container
		//- -------------------------  HEADER ------------------------
		.mail_container.header
			spacer(size=31)
			row
				columns(small=4)
					img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/449fe6db-3f35-0e73-d3d4-6d55e939203e.png' width=86 height=24)
				//columns(small=8 large=4 valign='middle')
				//	p.mb-0 Get UDID of your clients devices automatically
				columns(small=4)
					.align-right
						a(href='#!')
							img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/23b45994-d970-20d8-b7ba-d25e3b324059.png' width=24 height=24)
						a(href='#!')
							img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/55742f85-2e41-534f-6ba1-2855a28f6ea4.png' width=24 height=24)
						a(href='#!')
							img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/f77b4383-0fa6-88d8-8ec8-11e84fc6e134.png' width=24 height=24)
			spacer(size=22)
		.mail_container.main_top
			spacer(size=23)
			row
				columns(small=8)
					center
						img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/38aa2417-693c-8d89-a738-0918789f733d.png' width=54 height=54)
			spacer(size=12)
			row
				columns(small=8)
					center
						h4.text-center One-tap service to find the UDID
						p.text-center The device UDID could be a critical need for iOS developers to test early versions of mobile applications, and it also helps to debug and test apps in early development iterations
			spacer(size=10)

		spacer(size=39)
		.mail_container.BG__circle_yellow
			row
				columns(small=8 large=4)
					h6 Dear, *|FMANE|*
					spacer(size=5)
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
				columns(small=8 large=4)
					center
						img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/ecd2b0c0-f7f3-e53a-765e-89448421a30d.png' width=260 height=179)

			spacer(size=39)
		.mail_container.BG__circle_blue
			row
				columns(small=8 large=4)
					center
						img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/6c3525a4-3fe1-9963-f2d6-6a4f32ec281f.png' width=260 height=179)
				columns(small=8 large=4)
					h6 Our mission
					spacer(size=5)
					p Increase iOS developer teams' efficiency by providing fast, safe, and secure method to get device UDID and other unique parameters for testing, integration, authentication, and security needs.

			spacer(size=56)
			row
				columns(small=8)
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

		.mail_container.blue_background
			spacer(size=31)
			row
				columns(small=8)
					p.fz-16 We provide API for Developers that allows to integrate UDID collection functionality into any internal workflow, website or testing process.
			spacer(size=12)
		.mail_container
			spacer(size=18)
			row.mail_list
				columns(small=8)
					ol
						li Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
						li Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
						li But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
			spacer(size=5)
			row
				columns(small=8)
					img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/fd4c18bf-e08d-c9d5-3c07-df0e7a07d6ff.png' width=536 height=179)
			spacer(size=27)
			row
				columns(small=8)
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			spacer(size=2)

		.mail_container.blue_background
			spacer(size=26)
			row
				columns(small=8 large=5 valign='middle')
					h4.mb-0 Get UDID for free! No iTunes required.
				columns(small=8 large=3)
					a(href='#!')
						center
							img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/9c57dc3c-1427-0ba3-41c2-d083f187e706.png' width=178 height=50)
			spacer(size=15)

		.mail_container
			spacer(size=40)
			row
				columns(small=8)
					p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			spacer(size=35)
		.mail_container.footer
			row
				columns(small=4)
					img(src='https://mcusercontent.com/6e30f56d8fc665b08934fa73c/images/6247afae-7c1b-ae3d-0705-4e4132c86bb0.png' width=31 height=24)
				columns(small=4)
					p.align-right 2023 Best, Udid.Tech Team
			spacer(size=3)